<div class="app-header white bg b-b">
    <div class="navbar">
        <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
            <i class="ion-navicon"></i>
        </a>
        <div class="navbar-item pull-left h5" id="pageTitle">{{ firstTitle }}</div>
        <!-- nabar right -->
        <div class="navbar-item pull-left" *ngIf="navTitle">
            <a class="nav-link text-muted" [routerLink]="[navLink]">{{ navTitle }}</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown" ngbDropdown>
                <a ngbDropdownToggle class="nav-link clear" data-toggle="dropdown" id="navbarDropdownToggle">
                    <span class="avatar w-32">
                        <img src="images/a3.jpg" class="w-full rounded" alt="...">
                    </span>
                </a>
                <div ngbDropdownMenu class="dropdown-menu w dropdown-menu-scale pull-right" aria-labelledby="navbarDropdownToggle">
                    <a class="dropdown-item" href="profile.html">
                        <span>Profile</span>
                    </a>
                    <a class="dropdown-item" href="setting.html">
                        <span>Settings</span>
                    </a>
                    <a class="dropdown-item" href="app.inbox.html">
                        <span>Inbox</span>
                    </a>
                    <a class="dropdown-item" href="app.message.html">
                        <span>Message</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="docs.html">
                        Need help?
                    </a>
                    <a class="dropdown-item" href="signin.html">Sign out</a>
                </div>
            </li>
        </ul>
        <!-- / navbar right -->
    </div>
</div>
