<div class="app-header white bg b-b">
    <div class="navbar">
        <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
            <i class="ion-navicon"></i>
        </a>
        <div class="navbar-item pull-left h5" id="pageTitle">{{ firstTitle }}</div>
        <!-- nabar right -->
        <div class="navbar-item pull-left" *ngIf="navTitle">
            <a class="nav-link text-muted" [routerLink]="[navLink]">{{ navTitle }}</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown" ngbDropdown>
                <a ngbDropdownToggle class="nav-link clear" id="navbarDropdownToggle">
                    <i class="fa fa-user"></i>
                </a>
                <div ngbDropdownMenu class="dropdown-menu pull-left" aria-labelledby="navbarDropdownToggle">
                    <a class="dropdown-item" [routerLink]="['/password-edit']">
                        <span>Password edit</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/logout']">Sign out</a>
                </div>
            </li>
        </ul>
        <!-- / navbar right -->
    </div>
</div>
